.jumbotron{
    background: #9829ac;
    font-size: 80%;
    padding: 70px 30px 70px 30px;
    color: floralwhite;
}

.footer{
    background-color: #ca9ad8;
}
.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-header{
    margin: 0px auto;
    padding: 40px 0px 40px 0px;
}

.row-content{
    margin:  0px auto;
    padding: 5px 0px 5px 0px ;
}
